<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title><%= title %></title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- CSS FONT START -->
    <link rel="stylesheet" href="/stylesheets/font.css">
    <!-- CSS FONT END -->

    <!-- CSS NAVBAR START -->
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <!-- CSS NAVBAR END -->

    <!-- CSS FOOTER START -->
    <% if (halaman) { %>
      <link rel="stylesheet" href="/stylesheets/footer.css">
    <% } %>
    <!-- CSS FOOTER END -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>

    <% if (halaman) { %>
      <link rel="stylesheet" href="/stylesheets/<%= halaman %>.css" />
    <% } else { %>
      <link rel="stylesheet" href="/stylesheets/default.css">
    <% } %>
  </head>
  <body>
    <div class="container-fluid" style="--bs-gutter-x: 0 !important">
      <!-- NAVBAR START -->
      <% if (halaman) { %>
      <nav class="navbar sticky-top navbar-expand-lg w-100" id="navbarContainer">
        <div class="d-flex justify-content-center w-100">
          <div class="collapse navbar-collapse" id="icons">
            <a class="navbar-brand text-white" href="#">
              <img src="/icons/plant-guard-logo.png" alt="Logo" width="70" height="70" />
            </a>
          </div>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <% if (halaman === 'home') { %>
                <a class="nav-link active" href="/<%= halaman %>">
                  <img
                    src="icons/green-bullet.png"
                    width="15"
                    height="15"
                    alt=""
                  />
                  Home
                </a>
                <% } else { %>
                <a class="nav-link" href="/home">Home</a>
                <% } %>
              </li>

              <li class="nav-item">
                <% if (halaman === 'dashboard') { %>
                <a class="nav-link active" href="/<%= halaman %>">
                  <img
                    src="icons/green-bullet.png"
                    width="15"
                    height="15"
                    alt=""
                  />
                  Dashboard
                </a>
                <% } else { %>
                <a class="nav-link" href="/dashboard">Dashboard</a>
                <% } %>
              </li>

              <li class="nav-item">
                <% if (halaman === 'about') { %>
                <a class="nav-link active" href="/<%= halaman %>">
                  <img
                    src="icons/green-bullet.png"
                    width="15"
                    height="15"
                    alt=""
                  />
                  About
                </a>
                <% } else { %>
                <a class="nav-link" href="/about">About</a>
                <% } %>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <% } %>
      <!-- NAVBAR END -->

      <!-- CONTENT START -->
      <%- body %>
      <!-- CONTENT END -->

      <!-- FOOTER START -->
      <% if (halaman === 'home') { %>
        <div class="card mt-auto" id="footerHome">
          <div class="card-footer text-white text-center">
            Plant Guard© 2024, All rights reserved
          </div>
        </div>
      <% } else if(halaman === 'dashboard') { %>
        <div class="card mt-2" id="footerDashboard">
          <div class="card-footer text-white text-center">
            Plant Guard© 2024, All rights reserved
          </div>
        </div>
      <% } else { %>
        <div class="card fixed-bottom" id="footerAbout">
          <div class="card-footer text-white text-center">
            Plant Guard© 2024, All rights reserved
          </div>
        </div>
      <% } %>
     
      <!-- FOOTER END -->
    </div>

    <% if (halaman === 'dashboard') { %>
    <script src="/javascripts/dateDashboard.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/javascripts/charts.js"></script>
    <script>
      // Set interval untuk memperbarui data setiap 10 detik
      // setInterval(() => {
      //   // Mengambil data dalam format JSON dari route /dashboard/getLatestData
      //   fetch('/dashboard/getLatestData') 
      //     .then(response => response.json())
      //     .then(data => {
      //       // Update elemen dengan data terbaru
      //       document.getElementById("suhuUdara").innerHTML =
      //         `Suhu Udara : <br /> ${data[0].suhu_terbaru}°C`;
    
      //       document.getElementById("kelembapanTanah").innerHTML =
      //         `Kelembapan Tanah : <br /> ${data[0].kelembapan_terbaru}`;
    
      //       document.getElementById("penyiramanAir").innerHTML =
      //         `Total Penyiraman Air : <br /> ${data[0].jumlah_penyiraman} kali`;
      //     })
      //     .catch(error => console.log(error));
      // }, 500);
    </script>
    <% } %>
    <% if (halaman === 'home') { %>
      <script src="/javascripts/getStartedClick.js"></script>
    <% } %>
  </body>
</html>
