<!-- OUR TEAM START -->
<div class="d-flex justify-content-center">
  <% if (!identities.length) {} %>
  <!-- LOOPING UNTUK INDETITAS TEAM START -->
  <% identities.forEach(property => { %>
  <div class="card mt-5 mb-5 card-team" style="width: 14rem">
    <img src="/images/<%= property.name; %>.jpg" width="204" height="204" class="card-img-center rounded" alt="<%= property.name; %>" />
    <div class="card-body text-center text-white">
      <p class="card-text">
        <%= property.nim; %> <br>
        <%= property.fullName %> <br>
        <%= property.role %>
      </p>
    </div>
  </div>
  <% }) %>
  <!-- LOOPING UNTUK INDETITAS TEAM START -->
</div>
